/**
 * main.CSS
 *
 * Description: This is the style sheet for the Personal Portfolio Porject
 * Author: Christian Vance
 * Last Modified: 10/01/2018
 */
/*********************** Classes's ***********************/
.content-header {
    color:white;
}

.content-txt {
    color:rgb(223, 223, 223);
    font-size: 20px;
}

