/**
 * main.CSS
 *
 * Description: This is the style sheet for the Personal Portfolio Porject
 * Author: Christian Vance
 * Last Modified: 10/01/2018
 */
/*********************** Elements ***********************/
a:visited { text-decoration: none; color:#b91ec7; }
a:hover { text-decoration: none; color:#b91ec7; }
a:focus { text-decoration: none; color:gray; }
a:active { text-decoration: none; color:rgb(14, 109, 101); }

/*********************** Classes ***********************/
.content-header {
    color:white;
}

.content-txt {
    color:rgb(223, 223, 223);
    font-size: 20px;
}

.socialmedia {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    list-style-type: none;
    font-size: 24px;
}

/*********************** Boostrap Overides ***********************/
/* change the background color */
.navbar-custom {
    background-color: rgb(14, 109, 101);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
/* Custom footer to match Navbar asthetics */
/* .footer-custom { */
    /* font-family:"sans-serif";
    height:25px;
    background-color:#4ab098; /* old color a57ba9 */
    /* color:white;
    text-align:center;
    padding:10px; */
/* } */ 

.footer-custom {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color:rgb(14, 109, 101);
}