/**
 * main.CSS
 *
 * Description: This is the style sheet for the Personal Portfolio Porject
 * Author: Christian Vance
 * Last Modified: 10/01/2018
 */

/*********************** Elements ***********************/
header {
    font-family:"sans-serif";
    font-size: 30px;
    background-color:#a57ba9; /* old color a57ba9 */
    padding:1px;
}

div {
    margin-left:auto;
    margin-right:auto;
    display:block;
    height:440px;
    width:550px;
}

footer {
    font-family:"sans-serif";
    height:25px;
    background-color:#4ab098; /* old color a57ba9 */
    color:white;
    text-align:center;
    padding:10px;
}

body {
    background-color:#494949;   /* old color 4ab098 */
    background-position: center;
}

h1 {
    font-family:"sans-serif";
    font-size:300%;
    text-align:center;
    color:white;
}

h2 {
    font-family:"sans-serif";
    font-size:200%;
    color:white;
}

ul {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
}

p {
    font-family:"sans-serif";
    text-align:left;
    color:white;
}

a:visited {
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color:#a57ba9;
}

a:active {
    color:#b88abc;
}

/*********************** ID's ***********************/
#paragraph {
    float:left;
}

#profilepicture {
    float:right;
}

#menu li {
    display:inline;
    color:white;
    font-family: "sans-serif";
    font-size: 30px;
}

/*********************** Classes's ***********************/
.links {
    background-color:#4ab098; /* old color b88abc */ 
    margin-left:auto;
    margin-right:auto;
    display:block;
    height:38px;
    width:100%;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

.right {
    float:right;
}

.left {
    float:left;
}

.tab_divider {
    font-size: 25px;
}

.socialmedia {
    color: white;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    list-style-type: none;
    font-size: 24px;
}

.content {
    font-family:"sans-serif";
    font-size: 24px;
    text-align:left;
    color:white;
}

/**
 * slider.css
 * 
 * Style sheet for slider.js
 */
 .slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .backArrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 999;
    color: #fff;
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #222
  }